---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "哎呀！这个页面似乎走丢了！",
	title: "页面未找到",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | 页面未找到</h1>
	<p class="mb-8">请使用导航返回，或返回<a class="cactus-link" href="/">首页</a></p>
</PageLayout>
